.colors {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  width: 250px;
  height: 75px;
}




.color-one {
  color: #fff;
  background-color: #000000;
  margin: 0 0 0 20px;
  border: 5px solid #8502c1;
}

.color-two {
  color: #2fcbf6;
  background-color: #000000;
  margin: 0 0 0 20px;
  border: 5px solid #2fcbf6;
}

.color-three {
  background-color: #8502c1;
  margin: 0 0 0 20px;
}

.color-four {
  background-color: #2fcbf6;
  margin: 0 0 0 20px;
}

.color-five {
  background-color: #ffffff;
  margin: 0 0 0 20px;
}

.color-five {
  /* background-color: #; */
  margin: 0 0 0 20px;
}

.color-six {
  /* background-color: #; */
  margin: 0 0 0 20px;
}

.color-seven {
  /* background-color: #; */
  margin: 0 0 0 20px;
}

.color-eight {
  /* background-color: #; */
  margin: 0 0 0 20px;
}

.color-nine {
  /* background-color: #; */
  margin: 0 0 0 20px;
}

.color-ten {
  /* background-color: #; */
  margin: 0 0 0 20px;
}