::selection {
  background: #785af0;
  color: #1a1a1a;
}

/* Code for Firefox */
::-moz-selection {
  background: #785af0;
  color: #1a1a1a;
}

.form-button::selection,
.email-green::selection,
.bio__location::selection,
.header__cta-link::selection,
.header__heading-span::selection {
  background: #2cb67d;
  color: #1a1a1a;
}

/* Code for Firefox */
.form-button::-moz-selection,
.email-green::-moz-selection,
.bio__location::-moz-selection,
.header__cta-link::-moz-selection,
.header__heading-span::-moz-selection {
  background: #2cb67d;
  color: #1a1a1a;
}

.mailto-link {
  position: relative;
  padding: 8px 0;
}

.mailto-message {
  position: absolute;
  top: 1px;
  left: 50%;
  display: none;
  width: auto;
  padding: 2px 6px;
  border-radius: 2px;
  margin-bottom: -5px;
  background-color: black;
  color: white;
  font-size: 12px;
  transform: translate(-50%, -100%);
  white-space: nowrap;

  &:after,
  &:before {
    content: "";
  }

  &:before {
    position: absolute;
    top: 100%;
    left: 50%;
    height: 0;
    width: 0;
    border: solid transparent;
    border-width: 4px;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #000000;
    margin-left: -4px;
    pointer-events: none;
  }
}

.mailto-link:hover .mailto-message,
.mailto-link:focus .mailto-message,
.mailto-link:focus-within .mailto-message {
  display: block;
}
