body {
  font: normal 16px/1.5 'Monteserrat',
    sans-serif;
  color: #fafafa;
  /* overflow: hidden; */
}

#hidden-sm {
  display: none;
}

.hidden-sm {
  display: none;
}

#header-section,
#about-section,
#contact-section {
  background-color: #1A1A1A;
}

#project-section {
  background-color: #fafafa
}

.projects-main-heading {
  color: #272727;
}

.section-heading {
  margin: 0 0 10px;
}

.section-heading,
.contact-subheading,
.contact-p {
  text-align: center;
}


/* ------------------------------------
---------------------------------------
LIST STYLING
---------------------------------------
------------------------------------ */

ul {
  list-style-type: none;
  padding-left: 0;
}

a:link {
  text-decoration: none;
}


a:visited {
  text-decoration: none;
}


a:hover {
  text-decoration: none;
}


a:active {
  text-decoration: none;
}


/* ------------------------------------
---------------------------------------
HEADER SECTION
---------------------------------------
------------------------------------ */

.header-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.header-content {
  height: 160px;
}

.heading-text-container {
  padding: 0 20px 20px;
}

.header-heading,
.header-subheading {
  font-size: 1.85rem;
  font-weight: 300;
  line-height: 1.15;
  color: #fafafa;
  margin: 0;
}

.header-heading-span {
  color: mediumpurple;
}

.projects-cta {
  color: mediumpurple;
  padding: 6px;
  border: 2px solid mediumpurple;
}

.fa-arrow-down {
  font-size: 1rem;
}

.header-links-container {
  display: flex;
  flex-direction: column;
}


/* ------------------------------------
---------------------------------------
NAVIGATION
---------------------------------------
------------------------------------ */

.main-nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #272727;
}

.logo-dark-mode-container {
  display: flex;
  justify-content: center;
}

.main-nav-logo {
  padding-left: 10px;
  font-size: 1rem;
  color: #fafafa;
}

.main-nav-link-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

.main-nav-link {
  position: relative;
  z-index: 400;
  padding: 0 12px;
  border-bottom: 3px solid mediumpurple;
  font-size: 1.65rem;
  font-weight: 300;
  color: #fafafa;
}

.main-nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  transform-origin: bottom center;
  transition: transform 0.3s;
  background: mediumpurple;
}

.main-nav-link:hover::after {
  transform: scaleY(1);
}

.main-nav-link:hover {
  color: #1A1A1A;
}


/* ------------------------------------
---------------------------------------
HAMBURGER MENU
---------------------------------------
------------------------------------ */

.hamburger-menu {
  position: fixed;
  top: 0;
  right: 12px;
}

#menu-toggle input {
  position: absolute;
  top: 9px;
  left: -2px;
  width: 40px;
  height: 32px;
  /* hide this */
  opacity: 0;
  /* and place it over the hamburger */
  z-index: 500;
  -webkit-touch-callout: none;
}

/*
Just a quick hamburger
 */
#menu-toggle span {
  position: relative;
  display: block;
  width: 26px;
  height: 1.75px;
  background: #fafafa;
  border-radius: 3px;
  z-index: 400;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menu-toggle span:first-child {
  transform-origin: 0% 0%;
}

#menu-toggle span:nth-child(2),
#menu-toggle span:nth-child(3) {
  margin-bottom: 5px;
}


#menu-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
  Transform all the slices of hamburger
  into a crossmark.
 */
#menu-toggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: mediumpurple;
}

/*
  Hide the middle one.
 */
#menu-toggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * The last one should go the other direction
 */
#menu-toggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}


/* ------------------------------------
---------------------------------------
ABOUT SECTION
---------------------------------------
------------------------------------ */

#about-section .section-heading {
  padding: 50px 0 30px;
}

.about-heading-span {
  position: relative;
  z-index: 1;
}

.about-heading-span::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -2px;
  left: 21px;
  width: 90px;
  height: 14px;
  background-color: mediumpurple;
}

.about-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9rem;
}

.about-text-container {
  padding: 0 30px;
  margin-bottom: 80px;
  text-align: center;
}

.about-p-two {
  margin-bottom: 60px;
}

.view-resume {
  position: relative;
  z-index: 1;
  padding: 9px 5px 5px;
  border-bottom: 3px solid mediumpurple;
  font-size: 0.6rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fafafa;
}

.view-resume::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  transform-origin: bottom center;
  transition: transform 0.3s;
  background: mediumpurple;
}

.view-resume:hover::after {
  transform: scaleY(1);
}

.view-resume:hover {
  color: #1A1A1A;
}

.about-skills-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  /* display: grid;
  grid-template-columns: repeat(3, 75px);
  gap: 15px;
  align-items: center;
  text-align: center; */
}

.skills-left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-middle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-icon {
  display: flex;
  justify-content: center;
  height: 32px;
}

.projects-fa {
  font-size: 2rem;
}

.html-icon:hover,
.html-icon:hover+.html-icon-p,
.html-icon-p:hover {
  color: #f06529;
}

.html-hover-color {
  color: #f06529;
}

.vscode-p-hover-color {
  color: #27A5F1;
}

.git-icon:hover,
.git-icon:hover+.git-icon-p,
.git-icon-p:hover {
  color: #F1512F;
}

.git-hover-color {
  color: #F1512F;
}

.css-icon:hover,
.css-icon:hover+.css-icon-p,
.css-icon-p:hover {
  color: #2965f1;
}

.css-hover-color {
  color: #2965f1;
}

.sass-icon:hover,
.sass-icon:hover+.sass-icon-p,
.sass-icon-p:hover {
  color: #C76494;
}

.sass-hover-color {
  color: #C76494;
}

.bootstrap-icon:hover,
.bootstrap-icon:hover+.bootstrap-icon-p,
.bootstrap-icon-p:hover {
  color: #722CF8;
}

.bootstrap-hover-color {
  color: #722CF8;
}

.tailwind-p-hover-color {
  color: #36BDF9
}

.js-icon:hover,
.js-icon:hover+.js-icon-p,
.js-icon-p:hover {
  color: #F0DB4F;
}

.js-hover-color {
  color: #F0DB4F;
}

.react-icon:hover,
.react-icon:hover+.react-icon-p,
.react-icon-p:hover {
  color: #62DAFB;
}

.react-hover-color {
  color: #62DAFB;
}

.figma-icon:hover,
.figma-icon:hover+.figma-icon-p,
.figma-icon-p:hover {
  animation: figmaGradientAnimation 3.75s ease 0s infinite normal none;
}

.figma-hover-color {
  animation: figmaGradientAnimation 3.75s ease 0s infinite normal none;
}

@keyframes figmaGradientAnimation {
  0% {
    color: hsla(13, 80%, 51%, 1);
  }

  20% {
    color: hsla(6, 85%, 66%, 1);
  }

  40% {
    color: hsla(267, 85%, 64%, 1);
  }

  60% {
    color: hsla(197, 89%, 52%, 1);
  }

  80% {
    color: hsla(156, 86%, 41%, 1);
  }

  100% {
    color: hsla(13, 80%, 51%, 1);
  }
}

@-webkit-keyframes figmaColorAnimation {
  0% {
    color: hsla(13, 80%, 51%, 1);
  }

  20% {
    color: hsla(6, 85%, 66%, 1);
  }

  40% {
    color: hsla(267, 85%, 64%, 1);
  }

  60% {
    color: hsla(197, 89%, 52%, 1);
  }

  80% {
    color: hsla(156, 86%, 41%, 1);
  }

  100% {
    color: hsla(13, 80%, 51%, 1);
  }
}

@-moz-keyframes figmaColorAnimation {
  0% {
    color: hsla(13, 80%, 51%, 1);
  }

  20% {
    color: hsla(6, 85%, 66%, 1);
  }

  40% {
    color: hsla(267, 85%, 64%, 1);
  }

  60% {
    color: hsla(197, 89%, 52%, 1);
  }

  80% {
    color: hsla(156, 86%, 41%, 1);
  }

  100% {
    color: hsla(13, 80%, 51%, 1);
  }
}


/* ------------------------------------
---------------------------------------
PROJECTS SECTION
---------------------------------------
------------------------------------ */

.projects-heading-span {
  position: relative;
}

.projects-heading-span::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -2px;
  left: 21px;
  width: 126px;
  height: 14px;
  background-color: mediumpurple;
}

#projects-top-divider,
#projects-bottom-divider {
  position: relative;
  height: auto;
  min-height: 170px;
  margin-top: -1px;
}

#projects-bottom-divider {
  transform: rotate(180deg);
}

.separator {
  position: absolute;
  top: 0;
}

.separator-bottom {
  position: absolute;
  bottom: 0;
}



/* ------------------------------------
---------------------------------------
BUTTONS
---------------------------------------
------------------------------------ */

/* ------------------------------------
---------------------------------------
TYPOGRAPY
---------------------------------------
------------------------------------ */

/* ------------------------------------
---------------------------------------
IMAGES
---------------------------------------
------------------------------------ */

/* ------------------------------------
---------------------------------------
FLEX
---------------------------------------
------------------------------------ */

/* ------------------------------------
---------------------------------------
FORMS
---------------------------------------
------------------------------------ */






















































































/* ------------------------------------
---------------------------------------
MEDIUM SCREEN MEDIA QUERIES
---------------------------------------
------------------------------------ */

@media (min-width: 768px) {
  #hidden-md {
    display: none;
  }

  .main-nav-link-container {
    display: flex;
    justify-content: space-between;
  }

  .main-nav-item {
    padding-right: 10px;
  }

  .about-content-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* ------------------------------------
---------------------------------------
LARGE SCREEN MEDIA QUERIES
---------------------------------------
------------------------------------ */

@media (min-width: 1024px) {
  #hidden-lg {
    display: none;
  }
}