body {
  font: normal 16px/1.5 Roboto,
    system-ui,
    sans-serif;
  /* overflow: hidden; */
}

#hidden-sm {
  display: none;
}

.hidden-sm {
  display: none;
}

#header-section,
#about-section,
contact-section {
  background-color: #1A1A1A;
}

.section-heading {
  margin: 0;
}

/* ------------------------------------
---------------------------------------
HEADER
---------------------------------------
------------------------------------ */

.header-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.header-heading,
.header-subheading {
  font-size: 1.85rem;
  font-weight: 300;
  color: #fafafa;
  margin: 0;
}

.header-heading-span {
  color: purple;
}

.header-links-container {
  display: flex;
  flex-direction: column;
}


/* ------------------------------------
---------------------------------------
NAVIGATION
---------------------------------------
------------------------------------ */

.main-nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #272727;
  height: 50px;
}

.logo-dark-mode-container {
  display: flex;
  justify-content: center;
}

.main-nav-logo {
  font-size: 1rem;
  color: #fafafa;
}


/* ------------------------------------
---------------------------------------
HAMBURGER MENU
---------------------------------------
------------------------------------ */

.hamburger-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
}

.hamburger-button-container {
  position: relative;
}












.menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 500;
  /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
.menuToggle span {
  display: block;
  width: 26px;
  height: 1.75px;
  margin-bottom: 5px;
  position: relative;
  background: #fafafa;
  border-radius: 3px;
  z-index: 400;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

.menuToggle span:first-child {
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fafafa;
}

/*
 * But let's hide the middle one.
 */
.menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * The last one should go the other direction
 */
.menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}




/* ------------------------------------
---------------------------------------
ABOUT SECTION
---------------------------------------
------------------------------------ */

.about-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* ------------------------------------
---------------------------------------
BUTTONS
---------------------------------------
------------------------------------ */

/* ------------------------------------
---------------------------------------
TYPOGRAPY
---------------------------------------
------------------------------------ */



.section-heading,
.contact-subheading {
  text-align: center;
}

/* ------------------------------------
---------------------------------------
IMAGES
---------------------------------------
------------------------------------ */

/* ------------------------------------
---------------------------------------
FLEX
---------------------------------------
------------------------------------ */

/* ------------------------------------
---------------------------------------
FORMS
---------------------------------------
------------------------------------ */

/* ------------------------------------
---------------------------------------
LIST STYLING
---------------------------------------
------------------------------------ */

ul {
  list-style-type: none;
  padding-left: 0;
}

a:link {
  text-decoration: none;
}


a:visited {
  text-decoration: none;
}


a:hover {
  text-decoration: none;
}


a:active {
  text-decoration: none;
}

.main-nav-link-container {
  display: flex;
  justify-content: space-between;
}

.main-nav-item {
  padding-right: 10px;
}















































































/* ------------------------------------
---------------------------------------
MEDIUM SCREEN MEDIA QUERIES
---------------------------------------
------------------------------------ */

@media (min-width: 768px) {
  #hidden-md {
    display: none;
  }

  .about-content-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* ------------------------------------
---------------------------------------
LARGE SCREEN MEDIA QUERIES
---------------------------------------
------------------------------------ */

@media (min-width: 1024px) {
  #hidden-lg {
    display: none;
  }
}