body {
  /* max-width: 1920px; */
  margin-left: auto;
  margin-right: auto;
  font: normal 16px/1.5 'Monteserrat',
    sans-serif;
  color: #fafafa;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAPCAMAAAAxmgQeAAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAAD5JREFUGNN1j9EKADAIAnP//9GjFq6w7iU4DNRsB06cb44TJ+UzYUcniqnqoA6ag/62JhjKIU0rxx1lKveuXJ5UAQs/G/2vAAAAAElFTkSuQmCC), auto;
}

/* HIDE SCROLLBAR BUT STILL ALLOW SCROLL (CHROME, SAFARI, OPERA) */
body::-webkit-scrollbar {
  width: 0 !important
}

/* HIDE SCROLLBAR BUT STILL ALLOW SCROLL (FIREFOX) */
body {
  scrollbar-width: none;
}

#hidden-sm {
  display: none;
}

.hidden-sm {
  display: none;
}

.header-heading,
.header-subheading,
.projects-cta,
#about-section,
#contact-section {
  background-color: #1A1A1A;
}

#project-section {
  background-color: #fafafa
}

.projects-main-heading {
  color: #272727;
}

.section-heading {
  margin: 0 0 10px;
  font-size: 2.35rem;
}

.section-heading,
.contact-subheading,
.contact-text {
  text-align: center;
}


/* ------------------------------------
---------------------------------------
LIST STYLING
---------------------------------------
------------------------------------ */

ul {
  list-style-type: none;
  padding-left: 0;
}

a:link {
  text-decoration: none;
}


a:visited {
  text-decoration: none;
}


a:hover {
  text-decoration: none;
}


a:active {
  text-decoration: none;
}


/* ------------------------------------
---------------------------------------
HEADER SECTION
---------------------------------------
------------------------------------ */

.header-content-container {
  height: 100vh;
  text-align: center;
}

.header-content {
  height: 160px;
}

.heading-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-heading,
.header-subheading {
  font-size: 1.85rem;
  font-weight: 300;
  line-height: 1.15;
  color: #fafafa;
  animation-duration: 1.4s;
  animation-timing-function: cubic-bezier(0.21, 1.11, 0.81, 0.99);
}

.header-heading {
  max-width: 425px;
  padding: 30px 30px 0;
  margin: 0;
  animation-name: moveInLeft;
}

.header-subheading {
  padding: 0 30px 15px;
  margin: 0;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.header-subheading {
  animation-name: moveInRight;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.header-heading-span {
  color: #785af0;
}

.cta-container {
  width: 131px;
  margin: 0 auto;
  animation-name: moveInBottom;
  animation-duration: 1.4s;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-timing-function: cubic-bezier(0.21, 1.11, 0.81, 0.99);
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
}

.cta-container::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -8px;
  left: -16.5px;
  width: 165px;
  height: 53px;
  background-color: #1a1a1a;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* tsParticles CONTAINER */
#tsparticles {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  /* max-width: 1920px; */
  width: 100vw;
  height: 100vh;
  background-color: #1a1a1a;
}


/* ------------------------------------
---------------------------------------
NAVIGATION
---------------------------------------
------------------------------------ */

.main-nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 50px;
  border-bottom: 1px solid #1A1A1A;
  box-shadow: 0 4px 4px rgb(0 0 0 / 30%);
  background-color: #272727;
}

.main-nav-logo {
  padding-left: 10px;
  font-size: 1rem;
  color: #2cb67d;
}

.hamburger-nav-link-container {
  height: 200px;
}

.hamburger-nav-link {
  position: relative;
  z-index: 400;
  padding: 0 12px;
  border-bottom: 3px solid #785af0;
  font-size: 1.65rem;
  font-weight: 300;
  color: #fafafa;
}

.hamburger-nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  transform-origin: bottom center;
  transition: transform 0.3s;
  background: #785af0;
}

.hamburger-nav-link:hover::after {
  transform: scaleY(1);
}

.hamburger-nav-link:hover {
  color: #1A1A1A;
}

.main-nav-link-container {
  margin-right: 40px;
}

.main-nav-link {
  margin-right: 12px;
  font-size: 1.1rem;
  color: #fafafa;
}

.main-nav-link:hover {
  color: #2cb67d;
  border-bottom: 2px solid #785af0;
}

/* ------------------------------------
---------------------------------------
HAMBURGER MENU
---------------------------------------
------------------------------------ */

.hamburger-menu {
  position: fixed;
  top: 0;
  right: 12px;
}

#menu-toggle input {
  position: absolute;
  top: 9px;
  left: -2px;
  width: 40px;
  height: 32px;
  /* hide this */
  opacity: 0;
  /* and place it over the hamburger */
  z-index: 500;
  -webkit-touch-callout: none;
}

/*
Just a quick hamburger
 */
#menu-toggle span {
  position: relative;
  display: block;
  width: 26px;
  height: 1.75px;
  background: #2cb67d;
  border-radius: 3px;
  z-index: 400;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menu-toggle span:first-child {
  transform-origin: 0% 0%;
}

#menu-toggle span:nth-child(2),
#menu-toggle span:nth-child(3) {
  margin-bottom: 5px;
}


#menu-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
  Transform all the slices of hamburger
  into a crossmark.
 */
#menu-toggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #785af0;
}

/*
  Hide the middle one.
 */
#menu-toggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * The last one should go the other direction
 */
#menu-toggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}


/* ------------------------------------
---------------------------------------
ABOUT SECTION
---------------------------------------
------------------------------------ */

#about-section .section-heading {
  padding: 70px 0 30px;
}

.about-heading-span {
  position: relative;
  z-index: 1;
}

.about-heading-span::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -2px;
  left: 25px;
  width: 102px;
  height: 14px;
  background-color: #785af0;
}

.about-content-container {
  font-size: 0.9rem;
  min-width: 670px;
  margin: 50px 0 0;
  padding-bottom: 80px;
}

.about-text-container {
  min-width: 300px;
  max-width: 340px;
  height: 580px;
  margin-bottom: 0;
  text-align: center;
  opacity: 0;
}

.about-left-animation {
  animation-name: moveInLeft2;
  animation-duration: 1.4s;
  animation-timing-function: cubic-bezier(0.21, 1.11, 0.81, 0.99);
  -webkit-animation-fill-mode: forwards;
}

@keyframes moveInLeft2 {
  0% {
    opacity: 0;
    transform: translateX(-25rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.location-container {
  width: 204px;
  margin: 0 auto 47px;
  text-align: center;
}

.location-center {
  width: 165px;
}

.location-icon-container {
  position: relative;
  z-index: 1;
  width: 40px;
  height: 40px;
}

.location-icon-container:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 13px;
  top: 6px;
  opacity: 0.8;
  width: 15px;
  height: 15px;
  background-color: #2cb67d;
  border-radius: 50%;
}

.fa-map-pin {
  width: 40px;
  height: 40px;
  padding-top: 12px;
  font-size: 2.2rem;
  --fa-primary-color: #785af0;
  --fa-secondary-color: #2cb67d;
}

.location {
  font-size: 1.4rem;
  border-bottom: 4px solid #785af0;
  margin: 0;
}

.about-p-two {
  margin: 25px 0 60px;
}

.view-resume {
  position: relative;
  z-index: 1;
  padding: 9px 5px 5px;
  border-bottom: 3px solid #785af0;
  font-size: 0.6rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fafafa;
}

.view-resume::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  transform-origin: bottom center;
  transition: transform 0.3s;
  background: #785af0;
}

.view-resume:hover::after {
  transform: scaleY(1);
}

.view-resume:hover {
  font-size: 0.65rem;
  letter-spacing: 1.75px;
  color: #1A1A1A;
}

.about-right {
  height: 580px;
  margin: 0 auto;
  opacity: 0;
}

.about-right-animation {
  animation-name: moveInRight2;
  animation-duration: 1.4s;
  animation-timing-function: cubic-bezier(0.21, 1.11, 0.81, 0.99);
  -webkit-animation-fill-mode: forwards;
}

@keyframes moveInRight2 {
  0% {
    opacity: 0;
    transform: translateX(25rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.skills-heading-container {
  width: 96px;
  margin: 0 auto;
}

.skills-heading {
  font-size: 1.4rem;
  border-bottom: 4px solid #785af0;
  margin: 0;
}

.about-skills-container {
  min-width: 255px;
  margin-top: 60px;
}

.skills-left-container,
.skills-middle-container {
  width: 68px;
}

.skills-container {
  position: relative;
  z-index: 1;
  height: 90px;
  margin-bottom: 11px;
}

.skills-icon {
  height: 32px;
}

.skills-fa {
  font-size: 2rem;
}

.hex-left,
.hex-middle,
.hex-right,
.hex-left-border,
.hex-middle-border,
.hex-right-border {
  height: 0;
}

.hex,
.hex-left,
.hex-middle,
.hex-right {
  z-index: -1;
}

.hex-left,
.hex-right,
.hex-left-border,
.hex-right-border {
  width: 0;
}

.hex-left-border,
.hex-middle-border,
.hex-right-border {
  z-index: -2;
}

.hex-left {
  border-right: 27.5px solid #272727;
  border-top: 44px solid transparent;
  border-bottom: 44px solid transparent;
}

.hex-middle {
  width: 55px;
  height: 88px;
  background: #272727;
}

.hex-right {
  border-left: 27.5px solid #272727;
  border-top: 44px solid transparent;
  border-bottom: 44px solid transparent;
}

.hex-left-border,
.hex-right-border {
  border-top: 46px solid transparent;
  border-bottom: 46px solid transparent;
}

.hex-left-border {
  border-right: 28.5px solid #785af0;
}

.hex-middle-border {
  width: 57px;
  height: 92px;
  background: #785af0;
}

.hex-right-border {
  border-left: 28.5px solid #785af0;
}

.hex-flex,
.hex-flex-border {
  position: absolute;
  pointer-events: none;
}

.hex-flex {
  top: -12px;
}

.hex-flex-border {
  top: -14px;
}

.hex-flex-html,
.hex-flex-sass {
  left: -36.5px;
}

.hex-flex-html-border,
.hex-flex-sass-border {
  left: -38.5px;
}

.hex-flex-vscode,
.hex-flex-bootstrap-border {
  left: -27.5px;
}

.hex-flex-vscode-border {
  left: -29.5px;
}

.hex-flex-git {
  left: -42px;
}

.hex-flex-git-border {
  left: -44px;
}

.hex-flex-css {
  left: -41.5px;
}

.hex-flex-css-border {
  left: -43.5px;
}

.hex-flex-bootstrap {
  left: -25.5px;
}

.hex-flex-tailwind {
  left: -30.5px;
}

.hex-flex-tailwind-border {
  left: -32.5px;
}

.hex-flex-js {
  left: -22px;
}

.hex-flex-js-border {
  left: -24px;
}

.hex-flex-react {
  left: -37px;
}

.hex-flex-react-border {
  left: -39px;
}

.hex-flex-figma {
  left: -36px;
}

.hex-flex-figma-border {
  left: -38px;
}

.html-icon:hover,
.html-icon:hover+.html-icon-p,
.html-icon-p:hover,
.html-hover-color {
  color: #f06529;
}

.html-hex-bg-color {
  background-color: #f06529;
}

.html-hex-border-left {
  border-right: 28.5px solid #f06529;
}

.html-hex-border-right {
  border-left: 28.5px solid #f06529;
}

.vscode-p-hover-color {
  color: #27A5F1;
}

.vscode-hex-bg-color {
  background-color: #27A5F1;
}

.vscode-hex-border-left {
  border-right: 28.5px solid #27A5F1;
}

.vscode-hex-border-right {
  border-left: 28.5px solid #27A5F1;
}

.git-icon-p {
  text-align: center;
}

.git-icon:hover,
.git-icon:hover+.git-icon-p,
.git-icon-p:hover,
.git-hover-color {
  color: #F1512F;
}

.git-hex-bg-color {
  background-color: #F1512F;
}

.git-hex-border-left {
  border-right: 28.5px solid #F1512F;
}

.git-hex-border-right {
  border-left: 28.5px solid #F1512F;
}

.css-icon:hover,
.css-icon:hover+.css-icon-p,
.css-icon-p:hover,
.css-hover-color {
  color: #2965f1;
}

.css-hex-bg-color {
  background-color: #2965f1;
}

.css-hex-border-left {
  border-right: 28.5px solid #2965f1;
}

.css-hex-border-right {
  border-left: 28.5px solid #2965f1;
}

.sass-icon:hover,
.sass-icon:hover+.sass-icon-p,
.sass-icon-p:hover,
.sass-hover-color {
  color: #C76494;
}

.sass-hex-bg-color {
  background-color: #C76494;
}

.sass-hex-border-left {
  border-right: 28.5px solid #C76494;
}

.sass-hex-border-right {
  border-left: 28.5px solid #C76494;
}

.bootstrap-icon:hover,
.bootstrap-icon:hover+.bootstrap-icon-p,
.bootstrap-icon-p:hover,
.bootstrap-hover-color {
  color: #722CF8;
}

.bootstrap-hex-bg-color {
  background-color: #722CF8;
}

.bootstrap-hex-border-left {
  border-right: 28.5px solid #722CF8;
}

.bootstrap-hex-border-right {
  border-left: 28.5px solid #722CF8;
}

.tailwind-p-hover-color {
  color: #36BDF9
}

.tailwind-hex-bg-color {
  background-color: #36BDF9;
}

.tailwind-hex-border-left {
  border-right: 28.5px solid #36BDF9;
}

.tailwind-hex-border-right {
  border-left: 28.5px solid #36BDF9;
}

.js-icon:hover,
.js-icon:hover+.js-icon-p,
.js-icon-p:hover,
.js-hover-color {
  color: #F0DB4F;
}

.js-hex-bg-color {
  background-color: #F0DB4F;
}

.js-hex-border-left {
  border-right: 28.5px solid #F0DB4F;
}

.js-hex-border-right {
  border-left: 28.5px solid #F0DB4F;
}

.react-icon:hover,
.react-icon:hover+.react-icon-p,
.react-icon-p:hover,
.react-hover-color {
  color: #62DAFB;
}

.react-hex-bg-color {
  background-color: #62DAFB;
}

.react-hex-border-left {
  border-right: 28.5px solid #62DAFB;
}

.react-hex-border-right {
  border-left: 28.5px solid #62DAFB;
}

.figma-icon:hover,
.figma-icon:hover+.figma-icon-p,
.figma-icon-p:hover,
.figma-hover-color {
  animation: figmaGradientAnimation 3.75s ease 0s infinite normal none;
}

@keyframes figmaGradientAnimation {
  0% {
    color: hsla(13, 80%, 51%, 1);
  }

  20% {
    color: hsla(6, 85%, 66%, 1);
  }

  40% {
    color: hsla(267, 85%, 64%, 1);
  }

  60% {
    color: hsla(197, 89%, 52%, 1);
  }

  80% {
    color: hsla(156, 86%, 41%, 1);
  }

  100% {
    color: hsla(13, 80%, 51%, 1);
  }
}

@-webkit-keyframes figmaColorAnimation {
  0% {
    color: hsla(13, 80%, 51%, 1);
  }

  20% {
    color: hsla(6, 85%, 66%, 1);
  }

  40% {
    color: hsla(267, 85%, 64%, 1);
  }

  60% {
    color: hsla(197, 89%, 52%, 1);
  }

  80% {
    color: hsla(156, 86%, 41%, 1);
  }

  100% {
    color: hsla(13, 80%, 51%, 1);
  }
}

@-moz-keyframes figmaColorAnimation {
  0% {
    color: hsla(13, 80%, 51%, 1);
  }

  20% {
    color: hsla(6, 85%, 66%, 1);
  }

  40% {
    color: hsla(267, 85%, 64%, 1);
  }

  60% {
    color: hsla(197, 89%, 52%, 1);
  }

  80% {
    color: hsla(156, 86%, 41%, 1);
  }

  100% {
    color: hsla(13, 80%, 51%, 1);
  }
}

.figma-hex-bg-color {
  animation: figmaBgGradientAnimation 3.75s ease 0s infinite normal none;
}

@keyframes figmaBgGradientAnimation {
  0% {
    background-color: hsla(13, 80%, 51%, 1);
  }

  20% {
    background-color: hsla(6, 85%, 66%, 1);
  }

  40% {
    background-color: hsla(267, 85%, 64%, 1);
  }

  60% {
    background-color: hsla(197, 89%, 52%, 1);
  }

  80% {
    background-color: hsla(156, 86%, 41%, 1);
  }

  100% {
    background-color: hsla(13, 80%, 51%, 1);
  }
}

@-webkit-keyframes figmaBgColorAnimation {
  0% {
    background-color: hsla(13, 80%, 51%, 1);
  }

  20% {
    background-color: hsla(6, 85%, 66%, 1);
  }

  40% {
    background-color: hsla(267, 85%, 64%, 1);
  }

  60% {
    background-color: hsla(197, 89%, 52%, 1);
  }

  80% {
    background-color: hsla(156, 86%, 41%, 1);
  }

  100% {
    background-color: hsla(13, 80%, 51%, 1);
  }
}

@-moz-keyframes figmaBgColorAnimation {
  0% {
    background-color: hsla(13, 80%, 51%, 1);
  }

  20% {
    background-color: hsla(6, 85%, 66%, 1);
  }

  40% {
    background-color: hsla(267, 85%, 64%, 1);
  }

  60% {
    background-color: hsla(197, 89%, 52%, 1);
  }

  80% {
    background-color: hsla(156, 86%, 41%, 1);
  }

  100% {
    background-color: hsla(13, 80%, 51%, 1);
  }
}

.figma-hex-border-left {
  animation: figmaBorderLeftGradientAnimation 3.75s ease 0s infinite normal none;
}

@keyframes figmaBorderLeftGradientAnimation {
  0% {
    border-right: 28.5px solid hsla(13, 80%, 51%, 1);
  }

  20% {
    border-right: 28.5px solid hsla(6, 85%, 66%, 1);
  }

  40% {
    border-right: 28.5px solid hsla(267, 85%, 64%, 1);
  }

  60% {
    border-right: 28.5px solid hsla(197, 89%, 52%, 1);
  }

  80% {
    border-right: 28.5px solid hsla(156, 86%, 41%, 1);
  }

  100% {
    border-right: 28.5px solid hsla(13, 80%, 51%, 1);
  }
}

@-webkit-keyframes figmaBorderLeftColorAnimation {
  0% {
    border-right: 28.5px solid hsla(13, 80%, 51%, 1);
  }

  20% {
    border-right: 28.5px solid hsla(6, 85%, 66%, 1);
  }

  40% {
    border-right: 28.5px solid hsla(267, 85%, 64%, 1);
  }

  60% {
    border-right: 28.5px solid hsla(197, 89%, 52%, 1);
  }

  80% {
    border-right: 28.5px solid hsla(156, 86%, 41%, 1);
  }

  100% {
    border-right: 28.5px solid hsla(13, 80%, 51%, 1);
  }
}

@-moz-keyframes figmaBorderLeftColorAnimation {
  0% {
    border-right: 28.5px solid hsla(13, 80%, 51%, 1);
  }

  20% {
    border-right: 28.5px solid hsla(6, 85%, 66%, 1);
  }

  40% {
    border-right: 28.5px solid hsla(267, 85%, 64%, 1);
  }

  60% {
    border-right: 28.5px solid hsla(197, 89%, 52%, 1);
  }

  80% {
    border-right: 28.5px solid hsla(156, 86%, 41%, 1);
  }

  100% {
    border-right: 28.5px solid hsla(13, 80%, 51%, 1);
  }
}

.figma-hex-border-right {
  animation: figmaBorderRightGradientAnimation 3.75s ease 0s infinite normal none;
}

@keyframes figmaBorderRightGradientAnimation {
  0% {
    border-left: 28.5px solid hsla(13, 80%, 51%, 1);
  }

  20% {
    border-left: 28.5px solid hsla(6, 85%, 66%, 1);
  }

  40% {
    border-left: 28.5px solid hsla(267, 85%, 64%, 1);
  }

  60% {
    border-left: 28.5px solid hsla(197, 89%, 52%, 1);
  }

  80% {
    border-left: 28.5px solid hsla(156, 86%, 41%, 1);
  }

  100% {
    border-left: 28.5px solid hsla(13, 80%, 51%, 1);
  }
}

@-webkit-keyframes figmaBorderRightColorAnimation {
  0% {
    border-left: 28.5px solid hsla(13, 80%, 51%, 1);
  }

  20% {
    border-left: 28.5px solid hsla(6, 85%, 66%, 1);
  }

  40% {
    border-left: 28.5px solid hsla(267, 85%, 64%, 1);
  }

  60% {
    border-left: 28.5px solid hsla(197, 89%, 52%, 1);
  }

  80% {
    border-left: 28.5px solid hsla(156, 86%, 41%, 1);
  }

  100% {
    border-left: 28.5px solid hsla(13, 80%, 51%, 1);
  }
}

@-moz-keyframes figmaBorderRightColorAnimation {
  0% {
    border-left: 28.5px solid hsla(13, 80%, 51%, 1);
  }

  20% {
    border-left: 28.5px solid hsla(6, 85%, 66%, 1);
  }

  40% {
    border-left: 28.5px solid hsla(267, 85%, 64%, 1);
  }

  60% {
    border-left: 28.5px solid hsla(197, 89%, 52%, 1);
  }

  80% {
    border-left: 28.5px solid hsla(156, 86%, 41%, 1);
  }

  100% {
    border-left: 28.5px solid hsla(13, 80%, 51%, 1);
  }
}


/* ------------------------------------
---------------------------------------
PROJECTS SECTION
---------------------------------------
------------------------------------ */

#projects-section {
  background-color: #fafafa;
}

.projects-main-heading {
  margin: 0 0 90px 0;
}

.projects-heading-span {
  position: relative;
  z-index: 1;
}

.projects-heading-span::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -2px;
  left: 25px;
  width: 138px;
  height: 14px;
  background-color: #785af0;
}

.projects-list {
  max-width: 1800px;
  margin: 0 auto;
}

.project-container {
  margin-bottom: 40px;
}

.project {
  max-width: calc(100vw - 60px);
  border: 5px solid #1a1a1a;
}

.project-img-container {
  width: 100%;
  background-color: #272727;
}

.project-img {
  width: 100%;
  border-bottom: 8px solid #1a1a1a;
}

.project-bottom {
  width: 100%;
  background-color: #272727;
}

.project-title-container {
  width: 100%;
  background-color: #272727;
}

.project-title {
  margin: 0 auto 5px;
  color: #2cb67d;
}

.project-description {
  padding: 0 8px;
  margin: 0 0 12px;
  font-size: 0.85rem;
  text-align: center;
}

.project-tech-container {
  width: 90px;
  margin-bottom: 10px;
}

.project-tech-container-wide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  margin-bottom: 10px;
}

.project-icon-container {
  width: 100%;
}

.project-html-icon,
.project-css-icon,
.project-js-icon {
  font-size: 2rem;
}

.project-html-icon {
  padding-top: 1px;
  color: #f06529;
}

.project-css-icon {
  color: #2965f1;
}

.project-js-icon {
  color: #F0DB4F;
}

.project-links {
  justify-content: space-around;
  width: 97%;
  max-width: 320px;
  margin: 10px 0;
}

.live-link,
.source-code {
  width: 100px;
  padding: 5px 7px;
  border: 3px solid #785af0;
  text-align: center;
}

.live-link-button,
.source-code-button {
  color: #fafafa;
}

.live-link-button:hover,
.source-code-button:hover {
  color: #2cb67d;
}

#projects-top-divider,
#projects-bottom-divider {
  position: relative;
  height: auto;
  min-height: 165px;
  margin-top: -1px;
  background-color: #fafafa;
}

#projects-bottom-divider {
  transform: rotate(180deg);
}

.separator {
  position: absolute;
  top: 0;
}

.separator-bottom {
  position: absolute;
  bottom: 0;
}


/* ------------------------------------
---------------------------------------
CONTACT SECTION
---------------------------------------
------------------------------------ */

#contact-section {
  padding-bottom: 125px;
}

.contact-heading-span {
  position: relative;
  z-index: 1;
  font-size: 1.28rem;
}

.contact-heading-span::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -2px;
  left: 19px;
  width: 220px;
  height: 9px;
  background-color: #785af0;
}

/* CONTACT FORM */
.contact-form {
  max-width: 475px;
  margin: 0 auto;
}

.form-fieldset {
  border: 0;
}

.form-fieldset legend {
  text-align: center;
}

.lets-connect,
.contact-text {
  margin: 0;
}

.lets-connect {
  font-size: 1rem;
}

.contact-text {
  padding: 6px 0 4px;
  padding-bottom: 4px;
  font-size: 0.75rem;
  color: #fafafa;
}

/* todo: 
- Make it to where when you copy email to clipboard, it doesn't
the space in the beginning.

- Make the "Copied!" message show when clicked.
*/

/* COPY EMAIL ADDRESS TO CLIPBOARD */
#email-copy-fallback {
  display: inline;
}

.click-to-copy,
.click-to-copy-fallback {
  color: #2cb67d;
}

button.click-to-copy,
a.click-to-copy-fallback {
  border: 0;
  background-color: #1a1a1a;
}

button.click-to-copy:hover,
a.click-to-copy-fallback:hover {
  opacity: .8;
}

button.click-to-copy+span {
  /* We make the span hidden by default. In this case, using display: none; isn't an issue from an accessibility standpoint, since we don't want screen readers to pick this up unless the user clicks on the button */
  display: none;
  /* From here on, just styling purposes 👇🏻 */
  margin-left: 1rem;
  background: #DADADA;
  padding: .5rem;
  border-radius: .2rem;
  position: absolute;
  top: .75rem;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .4px;
  font-weight: 600;
  color: #666;
}

/* Styles for the tooltip arrow */
button.click-to-copy+span:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(218, 218, 218, 0);
  border-right-color: #DADADA;
  border-width: 6px;
  margin-top: -6px;
}

/* When the click event is fired, and the .is-copied class is added to the button, show the tooltip */
button.click-to-copy.is-copied+span {
  display: initial;
}

/* Fallback version for mobile, where the native email apps are way more used and mailto: link becomes way more relevant. */
#email-copy-fallback {
  display: inline;
}

/* Hide the desktop button */
#email-copy {
  display: none;
}

.form-item {
  padding-left: 7px;
  border: 0;
  border-radius: 0px;
  margin-bottom: 6px;
  color: #fafafa;
  background-color: #272727;
  caret-color: #2cb67d;
}

.main-nav-link:focus,
.form-item:focus,
.form-button:focus {
  outline: 2px solid #785af0;
  opacity: 0.7;
}

.view-resume:focus,
.projects-cta:focus,
.live-link-button:focus,
.source-code-button:focus,
.return-home-link:focus,
.footer-icon-container:focus {
  outline: 2px solid #2cb67d;
}

.form-item-one,
.form-item-two {
  height: 35px;
}

.form-item-three {
  padding-top: 10px;
  resize: none;
}

.submit-container {
  padding: 0 0.85em;
  text-align: end;
}

.form-button {
  position: relative;
  z-index: 1;
  width: 93px;
  height: 35px;
  padding-top: 6px;
  border: 0;
  border-bottom: 3px solid #785af0;
  font-size: 0.85rem;
  letter-spacing: 2.25px;
  text-transform: uppercase;
  color: #fafafa;
  background-color: #1A1A1A;
}

.form-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  transform-origin: bottom center;
  transition: transform 0.3s;
  background: #785af0;
}

.form-button:hover::after {
  transform: scaleY(1);
}

.form-button:hover {
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #1A1A1A;
  cursor: pointer;
}


/* ------------------------------------
---------------------------------------
FOOTER SECTION
---------------------------------------
------------------------------------ */

/* todo: 
-Add form validation.
*/

#footer-section {
  position: relative;
  height: 135px;
  padding-top: 25px;
  font-size: 0.75rem;
  background-color: #272727;
}

.return-home {
  position: absolute;
  top: -20px;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background-color: #785af0;
}

.return-home:hover {
  background-color: #2cb67d;
  transform: scale(1.1);
}

.return-home-link {
  width: 40px;
  height: 40px;
}

/* RETURN HOME BUTTON BOB EFFECT FROM HOVER.CSS */
/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-bob:hover,
.hvr-bob:focus,
.hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* END OF RETURN HOME BUTTON BOB EFFECT FROM HOVER.CSS */

.fa-chevrons-up {
  font-size: 2rem;
  color: #1A1A1A;
}

.footer-content-container {
  min-width: 254px;
  margin-top: 12px;
  text-align: center;
}

.footer-links-container {
  font-size: 2.5rem;
}

.footer-icon-container {
  color: #785af0;
}

.footer-icon-container:hover {
  transform: scale(1.1);
}

.fa-twitter:hover {
  color: #1DA1F2;
}

.fa-linkedin-in:hover {
  color: #0966C2;
}

.fa-github:hover {
  color: #4183C4;
}

.fa-paper-plane:hover {
  color: #FBB612;
}

.footer-signature {
  margin-top: 18px;
  font-size: 0.75rem;
  text-transform: uppercase;
}













































/* ------------------------------------
---------------------------------------
MEDIUM SCREEN MEDIA QUERIES
---------------------------------------
------------------------------------ */

@media (min-width: 768px) {
  .hidden-md {
    display: none;
  }

  .section-heading {
    font-size: 2.45rem;
  }

  .header-heading,
  .header-subheading {
    font-size: 2.2rem;
  }

  .main-nav-logo {
    font-size: 1.15rem;
  }

  .main-nav-link-container {
    display: flex;
    justify-content: space-between;
  }

  .main-nav-item {
    padding-right: 10px;
  }

  #about-section .section-heading {
    padding: 100px 0 30px;
  }

  .about-heading-span::after {
    left: 24px;
    width: 100px;
  }

  .about-content-container {
    flex-direction: row;
    justify-content: space-between;
    margin: 60px 80px 0;
    padding-bottom: 80px;
  }

  .view-resume {
    font-size: 0.65rem;
  }

  .view-resume:hover {
    font-size: 0.7rem;
    font-weight: 600;
  }

  .skills-right {
    margin-left: 28px;
    padding-left: 30px;
  }

  .projects-heading-span::after {
    left: 24px;
    width: 140px;
  }

  .project-left {
    margin: 0 auto 80px 40px;
  }

  .project-right {
    margin: 0 40px 80px auto;
  }

  .project {
    max-width: calc(100vw - 340px);
  }

  .project-title {
    font-size: 1.7rem;
  }

  .project-description {
    max-width: 770px;
  }

  .project-links {
    width: 100%;
  }

  .live-link,
  .source-code {
    width: 113px;
  }

  #contact-section {
    padding-top: 20px;
  }

  .contact-heading-span {
    font-size: 2rem;
  }

  .contact-heading-span::after {
    left: 28px;
    width: 347px;
    height: 13px;
  }

  .lets-connect {
    font-size: 1.275rem;
  }

  .contact-text {
    font-size: 0.9rem;
  }

  /* COPY EMAIL ADDRESS TO CLIPBOARD */
  /* Hide mobile fallback version on desktop resolutions */
  #email-copy-fallback {
    display: none;
  }

  /* Show the desktop button */
  #email-copy {
    display: inline;
  }
}


/* ------------------------------------
---------------------------------------
LARGE SCREEN MEDIA QUERIES
---------------------------------------
------------------------------------ */

@media (min-width: 1024px) {
  #hidden-lg {
    display: none;
  }

  .header-heading,
  .header-subheading {
    font-size: 3rem;
  }

  .section-heading {
    font-size: 2.5rem;
  }

  .about-heading-span::after {
    left: 25px;
    width: 105px;
    height: 15px;
  }

  .about-content-container {
    max-width: 1300px;
    padding-bottom: 80px;
    margin: 80px auto 0;
  }

  .about-text-container,
  .skills-right {
    padding: 0;
  }

  .about-text-container {
    margin: 0 auto 0;
  }

  .view-resume {
    font-size: 0.7rem;
  }

  .view-resume:hover {
    font-size: 0.725rem;
  }

  .skills-right {
    margin: 0 auto;
  }

  .projects-heading-span::after {
    left: 25px;
    width: 145px;
    height: 15px;
  }

  .project {
    max-width: calc(100vw - 460px);
  }

  .project-title {
    font-size: 2rem;
  }

  .project-description {
    padding: 0 12px;
    font-size: 0.985rem;
  }

  .contact-heading-span {
    font-size: 2.35rem;
  }

  .contact-heading-span::after {
    left: 36px;
    width: 400px;
    height: 15px;
  }

  .contact-text {
    font-size: 0.925rem;
  }

  .lets-connect {
    font-size: 1.5rem;
  }
}


/* ------------------------------------
---------------------------------------
X-LARGE SCREEN MEDIA QUERIES
---------------------------------------
------------------------------------ */

@media (min-width: 1440px) {
  .project {
    min-width: 920px;
    max-width: 966px;
  }
}