%flex-center-x {
  display: flex;
  justify-content: center;
}

%flex-center-y {
  display: flex;
  align-items: center;
}

%flex-center {
  @extend %flex-center-y;
  justify-content: center;
}

%flex-col-center-x {
  display: flex;
  flex-direction: column;
  align-items: center;
}

%flex-col-center-y {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
