.hex,
.hex-border,
.project__heading,
.project__icon-container,
#footer-section {
  @extend %flex-center-x;
}

.project__links {
  @extend %flex-center-x;
  gap: 20px;
}

.projects-list--project-page {
  @extend %flex-center-x;
  gap: 40px;
}

.nav__logo,
.bio__location-icon,
.project__links {
  @extend %flex-center-y;
}

#header,
.bio__location-container-inner,
.return-home__link {
  @extend %flex-center;
}

.nav,
.skills-container,
.project__tech,
.project__tech--wide,
.form-error-submit,
.footer__links {
  @extend %flex-center-y;
  justify-content: space-between;
}

.bio,
.about-content-container,
.skills,
.hex-group--left,
.hex-group--middle,
.hex-group--right,
.project__icon-container {
  @extend %flex-col-center-x;
}

.header__text-container,
.projects-list,
.project,
.project-bottom-container {
  @extend %flex-col-center-x;
  justify-content: center;
}

.mobile-nav-list {
  @extend %flex-col-center-x;
  justify-content: space-between;
}

.form-inputs {
  @extend %flex-col-center-y;
}
