#header {
  height: 100vh;
  /* cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAPCAMAAAAxmgQeAAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAAD5JREFUGNN1j9EKADAIAnP//9GjFq6w7iU4DNRsB06cb44TJ+UzYUcniqnqoA6ag/62JhjKIU0rxx1lKveuXJ5UAQs/G/2vAAAAAElFTkSuQmCC),
    auto; */
}

/* #header::after {
  content: "Open for Hire";
  position: absolute;
  top: 40px;
  left: -85px;
  width: 400px;
  height: 35px;
  padding-top: 9px;
  background: #785af0;
  color: #1a1a1a;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.5px;
  transform: rotate(-32deg);
  border-top: 1px solid #6543ee;
  border-bottom: 1px solid #6543ee;
  box-shadow: 0 -3px 4px rgb(101 67 238 / 30%), 0 3px 4px rgb(101 67 238 / 30%);
} */

.header {
  &__content {
    height: 160px;
  }
  &__heading,
  &__subheading {
    background: rgb(26 26 26 / 0.8);
    animation-duration: 1.4s;
    animation-timing-function: cubic-bezier(0.21, 1.11, 0.81, 0.99);
  }
  &__heading {
    max-width: 584px;
    padding: 12px 12px 0;
    margin: 0;
    animation-name: moveInLeft;
  }
  &__subheading {
    width: 220px;
    padding: 0 0 15px;
    margin: 0;
    animation-name: moveInRight;
  }
}

@include keyframes(moveInLeft) {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@include keyframes(moveInRight) {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// tsParticles CONTAINER
#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: $color-neutral-100;
}
