// FONT VARIABLES
$font-primary: "Lato",
sans-serif;

// COLOR VARIABLES

$white: #fff;
$light-gray: #ccc;

$color-primary: #58e1c1; // medium turquoise
$color-secondary: #51ddfc; // sky blue
$color-text: #777; // gray