// FONT VARIABLES
$font-primary: normal 16px/1.5 "Monteserrat", sans-serif;

// COLOR VARIABLES
$color-background: #1a1a1a;
$color-primary: #785af0;
$color-secondary: #2cb67d;
$color-off-white: #fafafa;
$color-off-black: #272727;
$color-html: #f1512f;
$color-vscode: #2965f1;
$color-sass: #c76494;
$color-bootstrap: #722cf8;
$color-tailwind: #36bdf9;
$color-js: #f0db4f;
$color-react: #62dafb;
$color-node: #f1512f;
$color-twitter: #1da1f2;
$color-linkedin: #0966c2;
$color-github: #4183c4;
$color-email: #fbb612;

// BREAKPOINT VARIABLES
$break-md: 768px;
$break-lg: 1024px;
